body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button .filter-button {
  font-weight: 400;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
}

.contact-button {
  font-size: 16px;
  line-height: 18px;
}

.button {
  display: block;
  width: 240px;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 17px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(225, 225, 225, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.button-order {
  display: block;
  width: 160px;
  height: 16px;
  padding: 17px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button-order:hover,
.button-order:focus {
  background-color: #e74246;
}

.button-order:active {
  color: rgba(225, 225, 225, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
  border-radius: 1px;
}

.filter-button:hover{
  background-color: #dfdfdf;
}

.filter-button:active,
.filter-button:focus{
  background-color: #d5d5d5;
  color: #959595;
}

.show-results {
  width: 262px;
}


.app-button-order {
  display: block;
  width: 160px;
  height: 16px;
  padding: 17px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #00ca74;
  border-radius: 3px;
  border: none;
}

.app-button-order:hover,
.app-button-order:focus {
  background-color: #01bc6d;
}

.app-button-order:active {
  color: rgba(225, 225, 225, 0.3);

  background-color: #00aa63;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.presentation-button-order {
  display: block;
  width: 160px;
  height: 16px;
  padding: 17px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #efc84a;
  border-radius: 3px;
  border: none;
}

.presentation-button-order:hover,
.presentation-button-order:focus {
  background-color: #eab535;
}

.app-button-order:active {
  color: rgba(225, 225, 225, 0.3);

  background-color: #e5a722;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #e74246;
}

.submit-button:active {
  color: rgba(225, 225, 225, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;

  background-color: #eeeeee;
}

.site-navigation {
  list-style: none;
}

.site-navigation-catalog {
  list-style: none;
}

.site-navigation a,
.check-out-navigation a {
  color: #000000;
}

.site-navigation-catalog a {
  color: #000000;
}

.site-navigation-catalog a:hover{
  color: #fb565a;
}

.site-navigation-catalog a:focus{
  color: #000000;
  opacity: 0.3;
}

.site-navigation-catalog a:active{
  color: #000000;
}

.site-navigation a:hover,
.check-out-navigation a:hover{
  color: #fb565a;
}

.site-navigation a:focus,
.check-out-navigation a:focus{
  color: #000000;
  opacity: 0.3;
}

.site-navigation a:active,
.check-out-navigation a:active{
  color: #000000;
}

.site-navigation .current {
  border-bottom: 2px solid #fb565a;
}

.site-navigation-catalog .current {
  border-bottom: 2px solid #fb565a;
}

.slide-features ul {
  background-color: #eeeeee;
}

.slide-features-list {
  list-style: none;
}

.slide-feature-item {
  text-align: left;

  position: relative;
}

.slide-feature-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;

  text-transform: none;
}

.slide-feature-item-current h3 {
  font-size: 55px;
  line-height: 55px;

  text-transform: none;
}

.slide-feature-item p {
  margin-top: 20px;

  font-size: 16px;
  line-height: 24px;

  text-transform: none;
  font-weight: 400;
}

.slide-feature-item-current p {
  font-size: 16px;
  line-height: 24px;

  text-transform: none;
  font-weight: 400;
}

.index-columns {
  color: #000000;

  background-color: #eeeeee;
}

.visually-hidden {
  display: none;
}

.index-columns h3 {
  font-size: 55px;
  line-height: 55px;
}

.service-list {
  list-style: none;
}

.service-item {
  list-style: none;
}

.service-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.service-item p {
  font-weight: 400;
}

.about-nerds b {
  font-size: 45px;
  line-height: 45px;

  text-transform: none;
}

.about-nerds p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  text-transform: none;
}

.about-nerds h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.ners-services .list-item li {
  font-size: 16px;
  line-height: 24px;

  color: #283136;
}

.nerds-services-list {
  font-weight: 400;

  list-style: none;

  color: #283136;

  text-transform: none;
}

.nerds-service-item {
  line-height: 24px;
  padding: 41px;
}

.service-item p {
  color: #283136;

  text-transform: none;
}
.stats-nerds p {
  padding: 15px;
}

.stats-nerds th {
  font-size: 45px;
  font-weight: 700;
  color: #000000;
}

.stats-table td {
  font-size: 45px;
  font-weight: bold;
}

.partners-list {
  list-style: none;
}

.partner-logo a {
  color: #000000;
}

.partner-logo {
  position: relative;
  opacity: 0.2;
}

.partner-logo:hover,
.partner-logo:focus {
  opacity: 1;
}

.partner-slash-Academy:hover,
.partner-slash-Academy:focus{
  opacity: 0.2;
}

.partner-logo:active {
  opacity: 0.2;
}

.partner-logo::after:hover,
.partner-logo::after:focus{
  opacity: 0.2;
}

.page-title {
  font-size: 55px;
  line-height: 55px;

  text-transform: none;
}

.filter-option {
  font-weight: 400;

  color: #283136;

  text-transform: none;

  padding: 8px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filters ul {
  list-style: none;

  font-size: 16px;
  line-height: 20px;
}

.catalog ul {
  list-style: none;
}

.sort-filter a {
  color: #000000;
}

.sort-filter li {
  opacity: 0.3;
}

.sort-filter li:hover,
.sort-filter li:focus {
  opacity: 0.6;
}

.sort-filter li:active {
  opacity: 1;
}

.hoverboard {
  background-color: #eeeeee;
  background-position: 0 0;
  background-repeat: repeat;
}

.hoverboard p {
  font-weight: 400;
}

.catalog-list p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;

  text-transform: none;
}

.catalog-list {
  list-style: none;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-weight: 400;

  color: #000000;

  background-color: #eeeeee;

  border: 2px solid #eeeeee;
}

.pagination-item .current a {
  font-weight: 400;

  color: #000000;

  background-color: #ffffff;

  border: 2px solid #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;

  border: 3px solid #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;

  border: 3px solid #d5d5d5;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.main-footer {
  color: #000000;
}

.contacts {
  color: #666666;
}

.contacts h5 {
  font-size: 18px;
  line-height: 30px;

  color: #000000;

  text-transform: uppercase;
}

.contacts p {
  font-weight: 400;

  color: #666666;
}

.footer-social {
  text-align: left;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #000000;
}
.main-footer p {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-transform: none;
}

.main-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
}

.main-footer p {
  text-align: left;
}

.phone {
  margin-bottom: 34px;
}

.modal {
  color: #000000;

  background-color: #ffffff;

  text-align: center;

  -webkit-box-shadow: 0 20px 50px 2px;

  box-shadow: 0 20px 50px 2px;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;

  text-transform: none;
}

.write-us-form-item {
  font-size: 16px;
  line-height: 18px;

  text-transform: none;

  padding: 5px;
}

.write-us-form input[type='text'] {
  color: #444444;

  border: 2px solid #d7dcde;
}

.write-us-form input[type='text']:hover,
.write-us-form input[type='text']:focus {
  border: 2px solid #b4b9bb;
}

.write-us-form input[type='text']:active {
  border: 2px solid #000000;
}



/*сеточные стили*/

html,
body {
  min-width: 1160px;
  min-height: 2324px;
}

.header-wrapper {
  width: 1160px;
  margin: 0 auto;
  background-color: #eeeeee;
}

.main-header {
  margin: 0 auto;
  width: 100%;
  background-color: #eeeeee;
}

.main-header-logo {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  width: 160px;
  height: 65px;
}

.main-navigation {
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation .main-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  margin: 0;
  padding: 0;
  margin-top: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-navigation ul {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
  margin-left: 203px;
  margin-top: 24px;
  margin-bottom: 8px;
  padding: 0px;
}

.site-navigation li:not(:first-child) {
  margin-left: 48px;
}

.site-navigation li:nth-child(4) {
  margin-left: 43px;
}

.site-navigation-catalog li:not(:first-child) {
  margin-left: 47px;
}

.site-navigation-catalog li:nth-child(4) {
  margin-left: 43px;
}

.check-out-navigation {
  width: 120px;

  margin: 0;
  padding: 0;
  margin-left: 247px;
  margin-top: 16px;
  padding-top: 10px;

  list-style: none;
}

.check-out-navigation img {
  margin-right: 25px;
}

.container-wrapper {
  margin: 0 auto 120px auto;
}

.container {
  width: 100%;
  margin: 0 auto 120px auto;
}

.content-wrapper {
  width: 1160px;
  margin: 0 auto 0 auto;
}

.content-inner-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto 0 auto;
}

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 431px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.slide-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  position: relative;

  height: 415px;
}

.slide-features-container {
  min-width: 1160px;
  margin: 0 auto;
  padding: 0 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 85px;
  z-index: 100;

  width: 160px;
  height: 22px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: '';

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: '';

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slide-features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  margin-top: 0;
  padding: 0;
}

.slide-features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.slide-feature-item {
  display: none;
  width: 1240px;
  height: 287px;
  padding: 68px 0 75px 0;
}

.slide-feature-item:nth-child(1) {
  display: block;
}

.slide-feature-item:nth-child(1) {
  background-image: url('../img/slide1.png');
  background-repeat: no-repeat;
  background-position: 429px 17px;
}

.slide-feature-item:nth-child(2) {
  background-image: url('../img/slide2.png');
  background-repeat: no-repeat;
  background-position: 490px 5px;
}

.slide-feature-item:nth-child(3) {
  background-image: url('../img/slide3.png');
  background-repeat: no-repeat;
  background-position: 400px 22px;
}

.slide-feature-item h3 {
  max-width: 600px;
  height: 115px;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  padding-top: 10px;

  text-align: left;
}

.slide-feature-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
}

.slide-feature-item-wrapper p {
  max-width: 370px;
  margin: 0;
  margin-bottom: 38px;
}

.slide-feature-item-wrapper p:nth-child(2) {
  max-width: 430px;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 7px;
}

.slide-feature-item-wrapper p:nth-child(2) {
  max-width: 370px;
}

.slide-feature-item-wrapper a {
  padding: 13px 0;
  margin-top: 20px;
}

.slide-feature-item-current p {
  width: 360px;

  margin: 16px 0;
}

.slide-feature-item a {
  margin-top: 40px;

  width: 240px;
  height: 16px;
  vertical-align: middle;
}

.services {
  display: block;
  height: auto;
  padding-bottom: 79px;
  border-bottom: 2px solid #eeeeee;
  margin-left: 2px;
  margin-bottom: 57px;
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1100px;

  list-style: none;
}

.nerds-services-list li {
  padding: 0;
  margin-bottom: 36px;
}

.service-item {
  width: 300px;
  margin: 0;
  padding: 0;
  margin-right: 100px;
}

.service-item h3 {
  margin-top: 18px;
  margin-bottom: 14px;
  font-weight: 700;
}

.service-item p {
  margin-bottom: 31px;

  max-width: 270px;
}

.service-item p:nth-child(2) {
  margin-left: 5px;
}

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  margin: 0;
  padding: 0;

  margin-bottom: 50px;
}

.about-nerds {
  margin: 2px;
  padding: 0;
  min-width: 660px;
}

.about-nerds p b {
  display: block;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 18px;
  padding: 0;
  padding-bottom: 16px;
  font-weight: 600;
}

.about-nerds p:nth-child(2) {
  margin-top: 15px;
  margin-bottom: 39px;
}

.about-nerds h3 {
  margin: 0;
  margin-bottom: 16px;
  padding-bottom: 8px;
  margin-left: 1px;
}

.nerds-services-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nerds-services-list li {
  margin-bottom: 20px;
  margin-left: -3px;
}

.nerds-services-list li:first-child{
  margin-bottom: 23px;
}

.nerds-services-list li:nth-child(2) {
  margin-bottom: 24px;
}

.nerds-service-item {
  position: relative;
  margin-bottom: 20px;
}

.nerds-service-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: #fc8e91;
}

.stats {
  min-width: 420px;
  margin: 0;
  padding: 0;
  margin-left: 114px;
  margin-top: 2px;
}

.stats img {
  margin-top: -18px;
  margin-bottom: 29px;
  margin-left: 23px;
}

.stats-nerds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 448px;

  margin-left: 20px;
  line-height: 23px;
}

.stats-nerds caption {
  margin-left: 20px;
  margin-bottom: 2px;

  caption-side: top;
  min-height: 53px;

  text-align: left;
}

.stats-nerds p {
  margin: 0;
  padding: 0;
  caption-side: top;
  margin-bottom: 40px;
}

.table-container{
  margin-top: -2px;
}


.stats-table td {
  font-size: 45px;
  padding-right: 21px;
  border-bottom: 20px solid transparent;
}

.stats-info td {
  text-transform: none;
  font-weight: bold;
  padding-top: 9px;
  line-height: 20px
}



.percentage {
  vertical-align: super;
  font-size: 24px;
}

.partners {
  margin: 0;
  padding: 0;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  max-height: 128px;

  padding-top: 41px;
  padding-bottom: 20px;
  padding-left: 18px;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.partners-list li:first-child {
  margin-left: 16px;
  margin-right: 95px;
  margin-top: -1px;
}

.partners-list li:nth-child(2){
  margin-top:-8px;
}

.partners-list li:nth-child(3) {
  margin-right: 121px;
  margin-top: -7px;
}

.partners-list li:nth-child(4) {
  margin-top: -7px;
}

.partner-slash-Academy {
  content: '';
  display: block;
  position: absolute;
  top: 44px;
  left: 247px;
  width: 3px;
  height: 52px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: gray;
}

.partner-slash-Academy:hover{
  
}

.partner-slash-Borodinski {
  content: '';
  display: block;
  position: absolute;
  top: 56px;
  left: 252px;
  width: 3px;
  height: 52px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: gray;
  opacity: 1;
}

.partner-slash-Pink {
  content: '';
  display: block;
  position: absolute;
  top: 37px;
  left: 240px;
  width: 3px;
  height: 52px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: gray;
  opacity: 1;
}

.partners-list li {
  position: relative;
  margin-right: 103px;
  margin-top: -3px;
}

.partner-logo {
  position: relative;
}

.container-inner-page {
  margin: 0 auto;
  width: 100%;
}

.page-title {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: #eeeeee;
  padding-top: 80px;
  padding-bottom: 109px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
}

.filters {
  width: 260px;
}

.filtering {
  margin: 0;
  padding: 0;
  margin-right: 140px;
  border: none;
}

.filter legend {
  margin: 0;
  margin-bottom: -1px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 19px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0px;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filtering:first-of-type {
  min-height: 132px;
  margin-bottom: 59px;
}

.filtering ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-option {
  margin: 0;
  padding: 0;
  padding-bottom: 11px;
  margin-bottom: 8px;
}

.filter-option:first-child {
  margin-top: 15px;
}

.grid {
  margin-bottom: 19px;
  padding-left: 0;
}

.grid ul {
  margin: 0;
  padding: 0;
}

.particulars {
  padding-left: 0;
  margin-bottom: 5px;
}

.filter-option label {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 37px;
  background-repeat: no-repeat;
  color: #61686c;
}

.filter-option-grid label::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 0;
  vertical-align: middle;
  height: 25px;
  width: 27px;
  opacity: 0.4;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.filter input[type='radio'],
.filter input[type='checkbox'] {
  display: none;
}

.filter input[type='radio'] + label,
.filter input[type='checkbox'] + label {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 37px;
  background-repeat: no-repeat;
  color: #61686c;
}

.filter input[type='radio'] + label::before,
.filter input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 0;
  vertical-align: middle;
  height: 25px;
  width: 27px;
  opacity: 0.4;
}

.filter input[type='radio'] + label:hover::before,
.filter input[type='checkbox'] + label:hover::before {
  opacity: 1;
}

.filter input[type='radio']:disabled + label,
.filter input[type='checkbox']:disabled + label {
  opacity: 0.3;
}

.filter input[type='radio']:checked + label::before {
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
}

.filter input[type='radio'] + label::before {
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
}

.particulars legend {
  margin-bottom: 8px;
}

.reset-list {
  list-style: none;
}

.particulars-list {
  margin-top: 5px;
  padding: 0;
}

.particulars-option {
  padding-bottom: 20px;
}

.filter-label {
  text-transform: none;
}

.filter input[type='checkbox']:checked + label::before {
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
}

.filter input[type='checkbox'] + label::before {
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
}

.catalog .filter fieldset {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.catalog-shop-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 760px;

  margin-left: 143px;
}

.sort-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.sort-filter li {
  margin-right: 22px;
}

.shop-sort {
  margin-top: -19px;
  margin-bottom: 77px;
  height: 16px;
}

.shop-sort b {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-right: 235px;
  margin-left: -1px;

  min-width: 160px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.shop-sort ul {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin-right: 18px;
}

.shop-sort li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 22px;
  font-size: 14px;
  line-height: 1.25;
}

.shop-sort a {
  color: #000000;
  opacity: 0.3;
}

.shop-sort a:hover {
  opacity: 0.6;
}

.shop-sort a:active {
  opacity: 1;
}

.shop-sort-nav-up {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.shop-sort-nav-down {
  display: inline-block;
  vertical-align: middle;
}

.catalog {
  display: block;

  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  width: 800px;

  list-style: none;

  text-align: center;
}

.catalog-item {
  position: relative;

  width: 360px;
  margin-bottom: 30px;
  margin-right: 38px;

  padding-top: 40px;
}

.catalog-item::before {
  content: '';
  position: absolute;
  top: 2px;
  right: 0;
  left: 0;
  height: 40px;
  background: url(../img/browser.svg) 0 0 no-repeat;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item img {
  position: relative;
  width: 360px;
}

.catalog-item p {
  position: relative;
  margin: 0;
}
.hoverboard {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0 50px;
  min-height: 230px;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-item-name {
  margin-top: 19px;
  margin-bottom: 19px;
}

.catalog-item:hover .hoverboard {
  display: block;
}

.hoverboard b {
  margin-top: 19px;
  margin-bottom: 19px;
}

.hoverboard a {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.hoverboard p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.hoverboard .button {
  background-color: #fb565a;
  color: #ffffff;
}

.hoverboard .button:hover {
  background-color: #e74246;
}

.hoverboard .button:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-list {
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
}

.pagination-list li {
  display: inline-block;
  vertical-align: top;
}

.pagination-list a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 45px;
  height: 45px;
  margin: 0;
  margin-right: 10px;
  font-size: 16px;
  line-height: 2.8125;
  font-weight: 500;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
  color: #000000;
}

.pagination-item:nth-child(4) a {
  width: auto;
  padding-left: 73px;
  padding-right: 74px;
}

.pagination-list li>.current{
  background-color:white;
}

.pagination-list li {
  margin-right: -4px;
}

.map-wrapper {
  width: 1410px;
  margin: 0 auto;
}

.main-footer {
  margin: 0 auto 120px auto;
  padding: 0;
  width: 100%;
}

.map {
  margin: 0 auto;
  width: 100%;
  height: 417px;
  border: 1px solid transparent;
  position: relative;
}

.map-image {
  width: 102%;
  height: 100%;
  position: absolute;
  top: -40px;
  left: -13px;
}

.map-pointer {
  width: 18%;
  height: 45%;
  position: absolute;
  top: 50px;
  left: 802px;
}

.map-info {
  width: 220px;
  height: 210px;
  background-color: #ffffff;
  position: absolute;
  top: 14px;
  left: 125px;

  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 47px;
  padding-top: 50px;
}

.map-info h5 {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 26px;
}

.contact-button-form {
  width: 220px;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto 0 auto;
}

.contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 319px;
  height: 308px;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 47px;
  margin-bottom: 70px;
}

.address-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  background-color: white;
}

.address-wrapper-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  background-color: white;
  padding-top: 49px;
  padding-left: 52px;
  padding-right: 50px;
  padding-bottom: 47px;
}

.contacts h5 {
  margin: 0;
  margin-bottom: 35px;
}

.contacts p {
  text-align: left;
}

.contacts p:first-of-type {
  margin-bottom: 20px;
}

.contacts-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.contacts button {
  padding: 19px 0;
  margin: 0;
  width: 219px;
}

.iframe {
  position: absolute;
  border: 0;
  width: 100%;
  height: 418px;
  top: -40px;
  left: -13px;
  display: block;
  background-image: url('../img/map-layer.png');
  background-position: 50%;
  background-repeat: no-repeat;
}

.contacts-map {
  position: absolute;
  top: -60px;
  left: -40px;
  z-index: -100;
}

.map-icon {
  position: absolute;
  top: 100px;
  left: 780px;
}

.social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  clear: both;
  width: 1160px;

  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
}

.footer-social {
  width: 265px;
  height: 85px;
  margin-top: -6px;
  margin-right: 0;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;
}

.footer-social li {
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-icon:nth-child(1) {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 78px;
  height: 78px;
  margin-right: 13px;
}

.social-icon:nth-child(2) {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 78px;
  height: 78px;
  margin-right: 13px;
}

.social-icon:nth-child(3) {
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 78px;
  height: 78px;
}

.social-icon:hover,
.social-icon:focus {
  background-color: #e74246;
}

.social-icon:active {
  background-color: #d7373b;
}

.social-button {
  background-color: #e1e1e1;
  border-radius: 50%;
}

.footer-social li:nth-child(1):nth-child(2) {
  margin-right: 10px;
}

.footer-social a {
  width: 78px;
  height: 78px;
}

.footer-offer {
  display: block;
  width: 760px;
  margin-left: 140px;
}

.social-wrapper b {
  font-size: 36px;
}

.social-wrapper p {
  margin: 0;
  margin-top: 13px;
  width: 760px;
}

.modal {
  position: absolute;

  text-align: left;
  margin: 0 auto 120px auto;

  background-position: 0 0;
  background-repeat: repeat;
}

.modal-login {
  top: 1706px;
  left: 47%;

  width: 760px;
  height: 450px;
  padding-top: 73px;
  padding-bottom: 78px;
  padding-left: 97px;
  padding-right: 96px;
  margin-left: -430px;

  display: none;
}

.modal-show {
  display: block;
  -webkit-animation-name: visualize;
  animation-name: visualize;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.typing-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.modal-inner-page {
  top: 2440px;
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 50px;

  font-size: 45px;
  line-height: 45px;

  text-transform: none;
}

.write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: left;
  margin: 0;
  padding: 0;
}

.write-us-form-item {
  position: relative;
  padding: 0;
}

.write-us-form-item label {
  position: absolute;
  top: -22px;
}

.write-us-form input[type='text'] {
  font: inherit;
  color: #444444;
  opacity: 0.5;

  margin: 0;
  padding: 0;
  width: 328px;
  height: 50px;

  padding-left: 16px;
  padding-right: 16px;
  font-weight: normal;
}

.write-us-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 20px;
}

.write-us-form input[type='text']:first-of-type {
  margin-right: 36px;
}

.write-us-form textarea {
  font: inherit;
  color: #444444;
  opacity: 0.5;

  margin: 0;
  padding: 0;
  width: 732px;
  height: 90px;

  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 16px;
  font-weight: normal;

  border: 2px solid #d7dcde;
}

.write-us-form input[type='text']:focus {
  border-color: black;
}

.write-us-form input[type='text']:hover {
  opacity: 0.8;
}

.write-us-form textarea:focus {
  border-color: black;
}

.write-us-form textarea:hover {
  opacity: 0.8;
}

.write-us-form button {
  width: 260px;
  height: 50px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;

  margin-top: 47px;
}

.modal-close {
  position: absolute;
  top: 86px;
  right: 83px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: white;

  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: '';

  position: absolute;
  top: 10px;
  left: 2px;

  width: 22px;
  height: 3px;

  background-color: red;

  opacity: 0.3;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close:hover + .modal-close::before {
  opacity: 0.9;
}

@-webkit-keyframes visualize {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes visualize {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  20% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  70% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  90% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  20% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  70% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  90% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
